body {
    background-color: #161616;
    color: #e7e4dd;
    opacity: 1;
    font-family: monospace;
    user-select: none;
    font-family: "Open Sans", sans-serif;
}

#meh {
    transition: ease-in 0.3s;
}
#meh:hover {
    color: aqua;
}



@media (min-width:720px) {
    
    h1 {
        font-family: 'Major Mono Display', monospace;
        margin-bottom: 0;
        font-size: 2rem;
    }

    h3 {
        font-family: 'Montserrat',monospace;
        font-weight: 500;
        font-size: 1rem;
        margin-top: 0;
    }

    #box {
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
        transition: ease 0.4s;
        width: 25%;
        z-index: 2;
    }

    #stuff {
        display: flex;
        gap: 10px;
        justify-content: space-around;
    }

    #stuff p{
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }
    .clickable {
        transition: ease-in-out 0.3s;
    }
    .clickable:hover {
        color: rgb(110, 255, 255);
        cursor: pointer;
    }



    #information {
        position: absolute;
        opacity: 0;
        top: 50%;
        left: 25%;
        transform: translate(-50%,-50%);
        text-align: justify;
        transition: ease 0.4s;
        width: 30%;
        z-index: 1;
    }
}
@media (max-width:720px){
    h1 {
        font-family: 'Major Mono Display', monospace;
        margin-bottom: 0;
        font-size: 2rem;
    }

    h3 {
        font-family: 'Montserrat',monospace;
        font-weight: 500;
        font-size: 1rem;
        margin-top: 0;
    }

    #box {
        text-align: center;
        opacity: 0;
        transition: ease 0.4s;
        max-width: 50%;
        z-index: 2;
        margin: 10vh auto;
    }

    #stuff {
        display: flex;
        gap: 10px;
        justify-content: space-around;
    }

    #stuff p{
        font-family: "Open Sans", sans-serif;
        font-style: italic;
    }

    .clickable:hover {
        color: rgb(110, 255, 255);
        cursor: pointer;
    }



    #information {
        opacity: 0;
        text-align: justify;
        transition: ease 0.4s;
        width: 80%;
        z-index: 1;
        margin: 0 auto;
    }
}
